[workspace]
name = "llvm-reflection-workspace"
channels = ["conda-forge", "https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

[package]
name = "clang-p2996"
version = "22.0.0dev"
description = "Experimental C++26 Reflection Compiler (Bloomberg Fork)"

[package.build]
backend = { name = "pixi-build-rattler-build", version = "0.1.*" }
configuration = { recipe = "recipes/clang-p2996/recipe.yaml" }

[build-dependencies]
cmake = ">=3.30"
ninja = ">=1.12"
cxx-compiler = ">=1.7"
rattler-build = ">=0.55.0"
git = "*"

[dependencies]
libxml2 = "*"
zlib = "*"

[system-requirements]
linux = "6.8"
libc = { family = "glibc", version = "2.39" }
